

/* Start header section */


.header-logo {
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}





.header-address {
  font-style: normal;
  margin-left: auto;
}





.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}



.address-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  font-weight: 400;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





/* End header section */



/* Start Ordering Section*/



/* End Ordering Section*/



/* End Features Section */

/* Start Team Section */ 



/* End Team Section */

/* Start Portfolio Section*/

/* End Portfolio Section*/

/* Start footer section*/


/* End Footer Section*/

/* Start Modal Section */


/* End Modal Section */
